
[Unit]
Description=Sidekiq
After=network.target

[Service]
Type=notify
User=<user>
WatchdogSec=10
Environment=RAILS_MASTER_KEY=<master_key_value>
WorkingDirectory=<app_dir>
ExecStart=<home_dir]>/.rbenv/shims/bundle exec sidekiq start --environment=production -C <app_dir>/config/sidekiq/production.yml
ExecReload=/bin/kill -TSTP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=sockets.target
